@model WFMPCP.Model.Web.AHCViews
@{
    ViewBag.Title = "WFMPCP | AHC Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section specificPluginStyles{
    <link rel="stylesheet" href="@Url.Content( "~/assets/css/jquery-ui.min.css" )" />
    <link rel="stylesheet" href="@Url.Content( "~/assets/css/bootstrap-datepicker3.min.css" )" />
    <link rel="stylesheet" href="@Url.Content( "~/assets/css/ui.jqgrid.min.css" )" />  

}


<div class="row" style="display:none;">
    <div class="col-xs-12 col-sm-12">
        <div id="divWidgetBox" class="widget-box">
            <div class="widget-header">
                <h4 class="widget-title">Assumption and Headcount</h4>

                <div class="widget-toolbar">
                    <a href="#" data-action="collapse">
                        <i id="iIcon" class="ace-icon fa fa-chevron-up"></i>
                    </a>

                    <a href="#" data-action="close" style="display:none;">
                        <i class="ace-icon fa fa-times"></i>
                    </a>
                </div>
            </div>

            <div id="divWidgetBody" class="widget-body">
                <div class="row">
                    <div class="col-xs-12">
                        &nbsp;
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="input-group input-group-sm">
                                    <input type="text" id="datepicker" class="form-control" />
                                    <span class="input-group-addon">
                                        <i class="ace-icon fa fa-calendar"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        &nbsp;
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3">
                        <div>
                            <select class="form-control" id="ddlSites2" style="width:200px;" tabindex="2">
                                <option value="0">[Select Site]</option>
                                @if( Model.Sites != null )
                                {
                                    foreach( var site in Model.Sites )
                                    {
                                        <option value="@site.ID">@site.Name</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div>
                            <select class="form-control" id="ddlCampaigns2" style="width:200px;" tabindex="2">
                                <option value="0">[Select Campaign]</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div>
                            <select class="form-control" id="ddlLobs2" style="width:200px; z-index:999;" tabindex="2">
                                <option value="0">[Select LoB]</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div>
                            <button type="button" id="btnSave" class="btn btn-sm btn-primary" tabindex="5">
                                <i class="ace-icon fa fa-check"></i>
                                Save
                            </button>
                            &nbsp;
                            <button type="button" id="btnCancel" class="btn btn-sm btn-warning" tabindex="5">
                                <i class="ace-icon fa fa-times"></i>
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        &nbsp;
                    </div>
                </div>
                
                <div class="row">
                    <div  class="col-xs-12">
                        <!---------------------------------------------------------------->
                        <table id="tblAssumptions" class="table  table-bordered table-hover ">
                            <thead>
                                <tr>
                                    <th colspan="2" style="background-color:#adc2eb;">Assumptions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ var textboxesNames = ""; var inputtedTextboxes = ""; }
                                @foreach( var segment in Model.Segments.Where( x => x.SegmentCategoryID == 1 ).OrderBy( x => x.SortOrder ) )
                                {
                                    var dpCount = segment.Datapoints.Count();
                                    <tr>
                                        <td width="10%">
                                            @segment.Name
                                        </td>
                                        <td>
                                            <table class="table  table-bordered table-hover ">

                                                @foreach( var datapoint in segment.Datapoints.OrderBy( x => x.SortOrder ) )
                                                {
                                                    var readOnly = true;
                                                    var focus = string.Empty;
                                                    if( datapoint.Datatype == "Inputted" )
                                                    {
                                                        readOnly = false;
                                                        focus = string.Format( "javascript:ahcManagement.OnFocus('#txt_{0}');", datapoint.ID );
                                                        inputtedTextboxes += string.Format( "#txt_{0},", datapoint.ID );
                                                    }
                                                    textboxesNames += string.Format( "#txt_{0},", datapoint.ID );
                                                    <tr>
                
                                                        <td width="30%">@datapoint.Name</td>
                
                                                        <td><input type="text" id="txt_@datapoint.ID" style="width:30%;"  readonly="@readOnly" /></td>
                
                                                    </tr>
                                                }

                                            </table>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <table id="tblHeadcount" class="table  table-bordered table-hover ">
                            <thead>
                                <tr>
                                    <th colspan="2" style="background-color:#adc2eb;">Headcount</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach( var segment in Model.Segments.Where( x => x.SegmentCategoryID == 2 ).OrderBy( x => x.SortOrder ) )
                                {
                                    var dpCount = segment.Datapoints.Count();
                                    <tr>
                                        <td width="10%">
                                            @segment.Name
                                        </td>
                                        <td>
                                            <table class="table  table-bordered table-hover ">

                                                @foreach( var datapoint in segment.Datapoints.OrderBy( x => x.SortOrder ) )
                                                {
                                                    var readOnly = true;
                                                    var focus = string.Empty;
                                                    if( datapoint.Datatype == "Inputted" )
                                                    {
                                                        readOnly = false;
                                                        focus = string.Format( "ahcManagement.OnFocus('#txt_{0}');", datapoint.ID );
                                                        inputtedTextboxes += string.Format( "#txt_{0},", datapoint.ID );
                                                    }
                                                    textboxesNames += string.Format( "#txt_{0},", datapoint.ID );
                                                    <tr>

                                                        <td width="30%">@datapoint.Name</td>

                                                        <td>
                                                            <input type="text" id="txt_@datapoint.ID" style="width:30%;" readonly="@readOnly" />
                                                        </td>

                                                    </tr>
                                                }

                                            </table>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <!---------------------------------------------------------------->
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="col-xs-3">
                            <div>
                                <button type="button" id="btnSave2" class="btn btn-sm btn-primary" tabindex="5">
                                    <i class="ace-icon fa fa-check"></i>
                                    Save
                                </button>
                                &nbsp;
                                <button type="button" id="btnCancel2" class="btn btn-sm btn-warning" tabindex="5">
                                    <i class="ace-icon fa fa-times"></i>
                                    Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        &nbsp;<input type="text" id="txtNames" value="@textboxesNames.TrimEnd(',')" />
                        <input type="text" id="txtInputtedNames" value="@inputtedTextboxes.TrimEnd(',')"  />
                        <input type="text" id="IsUpdate" value="0" />
                    </div>
                </div>

            </div>
        </div>
    </div><!-- /.span -->

</div>
<div class="row" style="display:none;">
    <div class="col-xs-12">
        &nbsp;
    </div>
</div>
@using( Ajax.BeginForm( "GenerateAHC", "AssumptionsHeadcountManagement",
                                        new AjaxOptions
                                        {
                                            HttpMethod = "POST",
                                            OnBegin = "return ahcManagement.ValidateAHCGrid();",
                                            LoadingElementId = "divLoading",
                                            InsertionMode = InsertionMode.Replace,
                                            UpdateTargetId = "tblPivotHeader"
                                        },
                                        new { id = "frmAHC" } ) )
{

<div class="row">
    <div class="col-xs-3">
        <div>
            <select class="form-control" id="ddlSites" style="width:200px;" tabindex="2">
                <option value="0">[Select Site]</option>
                @if( Model.Sites != null )
                {
                    foreach( var site in Model.Sites )
                    {
                        <option value="@site.ID">@site.Name</option>
                    }
                }
            </select>
        </div>
    </div>
    <div class="col-xs-3">
        <div>
            <select class="form-control" id="ddlCampaigns" style="width:200px;" tabindex="2">
                <option value="0">[Select Campaign]</option>
            </select>
        </div>
    </div>
    <div class="col-xs-3">
        <div>
            <select class="form-control" id="ddlLobs" style="width:200px; z-index:999;" tabindex="2">
                <option value="0">[Select LoB]</option>
                @*<option value="20">20</option>
                <option value="30">30</option>*@
            </select>
            @*<input type="text" value="0" id="LobID" />*@
            @Html.TextBoxFor(m=>m.LobID, new { @id= "LobID", @style="display: none;", value="0" } )
        </div>
    </div>    
    <div class="col-xs-3">
           &nbsp;
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        &nbsp;
    </div>
</div>
<div class="row">
    <div class="col-xs-3">
        <div class="input-group input-group-sm">
            @Html.TextBoxFor( m => m.StartDate, new { @id = "txtStart", @class = "form-control",  @maxlength="10" } )
            <span class="input-group-addon">
                <i class="ace-icon fa fa-calendar"></i>
            </span>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="input-group input-group-sm">
            @Html.TextBoxFor( m => m.EndDate, new { @id = "txtEnd", @class = "form-control", @maxlength="10" } )
            <span class="input-group-addon">
                <i class="ace-icon fa fa-calendar"></i>
            </span>
        </div>
    </div>
    <div class="col-xs-6">
        <div>
            <button type="submit" id="btnGenerate" class="btn btn-sm btn-primary" tabindex="5">
                <i class="ace-icon fa fa-check"></i>
                Generate
            </button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        &nbsp;
    </div>
</div>
@Html.Action("_DivLoading","Common")
<div class="row">
    <div class="col-xs-12">
        <div style="overflow-x: scroll;width:100%;"  id="divTblTarget">
            @{Html.RenderPartial( "_AssumptionAHC", Model );}
        </div>
    </div>
</div>

}
@section specificScripts{
    <script src="@Url.Content("~/assets/js/bootstrap-datepicker.min.js")"></script>
    <script src="@Url.Content("~/assets/js/jquery-ui.min.js")"></script>
    <script src="@Url.Content("~/assets/js/jquery.ui.touch-punch.min.js")"></script>
    <script src="@Url.Content("~/assets/js/jquery.jqGrid.min.js")"></script>
    <script src="@Url.Content("~/assets/js/grid.locale-en.js")"></script>
    <script src="@Url.Content("~/assets/js/jquery.maskedinput.min.js")"></script>
    <script src="@Url.Content( "~/Scripts/jquery.validate.min.js" )"></script>
    <script src="@Url.Content( "~/Scripts/jquery.validate.unobtrusive.js" )"></script>
    <script src="@Url.Content( "~/Scripts/jquery.unobtrusive-ajax.min.js" )" ></script>
    <script src="@Url.Content("~/Scripts/pageJs/AHCManagement.js")"></script>

}

@section scripts{
<script>
    ahcManagement.Initialize();
    ahcManagement.SiteChange('@Url.Action( "GetCampaignBySite", "AssumptionsHeadcountManagement" )');
    //ahcManagement.SiteChange2('@Url.Action( "GetCampaignBySite", "AssumptionsHeadcountManagement" )');
    ahcManagement.LobChange();
    ahcManagement.CampaignChange('@Url.Action( "GetLoBByCampaign", "AssumptionsHeadcountManagement" )');
    //ahcManagement.CampaignChange2('@Url.Action( "GetLoBByCampaign", "AssumptionsHeadcountManagement" )');
    ahcManagement.FilterDates();
    //ahcManagement.OnCancel();
    //ahcManagement.Pickdate();
    //ahcManagement.OnSave('');
    //ahcManagement.OnKeyup();
    //ahcManagement.TrainingNestingProductionDate();
    //ahcManagement.OnKeyupProjectedProductionShrinkage();
    //ahcManagement.OnKeyupProjectedNestingShrinkage();
    //ahcManagement.OnKeyupActualProductionShrinkage();
    //ahcManagement.OnKeyupActualNestingShrinkage();
    //ahcManagement.Save('@Url.Action( "Save", "AssumptionsHeadcountManagement" )');
    
</script>
}





